html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
  flex-wrap: inherit;
}

div{
  margin : 5%;
  font-family: Arial, Helvetica, sans-serif;
}